.friendList {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  row-gap: 15px;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 25px;
  }
}
.item {
  display: inherit;
  column-gap: 20px;
  align-items: center;
  border: 1px solid yellow;
  border-radius: 18px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px black;
  @media screen and (min-width: 768px) {
    padding: 15px;
    column-gap: 25px;
  }
  @media screen and (min-width: 1200px) {
    padding: 25px;
    column-gap: 35px;
  }
}
.status {
  width: 24px;
  height: 24px;
  background-color: black;
  border-radius: 50%;
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
  @media screen and (min-width: 1200px) {
    width: 32px;
    height: 32px;
  }
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.avatar {
  background-color: aquamarine;
  border-radius: 25%;
  @media screen and (min-width: 768px) {
    width: 56px;
    height: 56px;
  }
  @media screen and (min-width: 1200px) {
    width: 64px;
    height: 64px;
  }
}
.name {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(34 / 30);
  }
}
